*
{
	margin: 0;
	padding: 0;
}
body
{
	background-color:#EEFA78;
}
.maindiv
{
	margin: auto;
	width: 70%;
	text-align: center;
}
.player
{
	text-align: center;
	display: inline-block;
}
h1
{
	text-transform: capitalize;
	margin: 30px;
	text-shadow: 5px 2px whitesmoke;
	font-size: 6rem;
	color: tomato;
}
p
{
	font-size: 4rem;
	color: violet;
	text-shadow: 2px 2px white;
	text-transform: uppercase;
}
#btn
{
	padding: 10px;
	border: none;
}
#text
{
	font-size: 4rem;
	color: black;
	background-color: violet;
	font-style: oblique;
	cursor: pointer;

}